<link rel="stylesheet" href="/css/signup.css">

    <form action="/user/create-user" method="POST" id="signup-form">
        <h4>Welcome</h4>

        <div id="signup" class="card">
            <div>
                <input type="name" name="name" placeholder="User Name" required>
            </div>
            
            <div>
                <input type="text" name="email" placeholder="Email">
            </div>
            
            <div>
                <input type="password" name="password" placeholder="Password" required >
            </div>
            
            <div>
                <button>SIGN-UP</button>
            </div>
        </div>
        <a href="/user/sign-in">Already have an account</a>
    </form>