<link rel="stylesheet" href="/css/signup.css">

    <form action="/user/profile" method="POST">
        <h4>Welcome</h4>
        <div id="signup" class="card">
            <!-- <div>
                <input type="hidden" name="g-recaptcha-response" id="g-recaptcha-response" >  
            </div> -->
            <div>
               <input type="text" name="email" placeholder="name" required>
            </div>
            
            <div>
                <input type="password" name="password" placeholder="password" required>
            </div>
            <div>
                <button>signin</button>
            </div>
        </div>
    </form>


