h4{
    color:black
}

input{
    padding: 2% 10%;
    text-align: center;
    background-color:lightgrey;
}

form{
    margin-top: 1%;
    width: auto;
    height: 100%;
   
}

form div{
    margin-top: 20px;
    margin-bottom: 10px;
    
}
#signup{
    margin: auto;
    width: 50%;
    height: auto;
    border-radius: 5%;
    background-color: cyan;
}

button{
   width: 30% !important;
   padding: 5px;
    margin-top: 30px;
    margin-left:50px;
    color:#39424e;
    background-color:gray;
    font-weight: 900;
}
button:hover{
    color:gray;
    background-color:#39424e;
}

a{
    color:black
}


span{
    width: 10rem;
    display: block;
}